/* ==========================================================================
Heroicon Styles
========================================================================== */

.heroicon-outline {fill: $black;}
.heroicon-shadow {fill: $black; opacity:0.4;}
.heroicon-component-fill {fill: #FFFFFF;}
.heroicon-component-accent {fill: $primary;}