/* ==========================================================================
Heroicon Styles
========================================================================== */

.heroicon-outline {fill: $black;}
.heroicon-shadows {fill: $secondary; opacity:0.4;}
.heroicon-component-fill {fill: #FFFFFF;}
.heroicon-component-accent {fill: $primary;}