@tailwind base;

@font-face {
    font-family: 'DankMono';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DankMono-Regular.otf) format("otf");
    src: url(../fonts/DankMono-Regular.ttf) format("ttf");
}

a {
    border-bottom-width: 2px;
    border-color: transparent;
    transition: border-bottom 0.25s ease-in-out;
}
a:hover {
    border-color: #0097ff;
}

@tailwind components;
@tailwind utilities;